<section id="about" class="about-section section">

    <div class="container">

        <h2 class="section-heading text-center">О НАС</h2>

        <div class="about-row row">

            <!-- DESCRIPTION IMAGE -->
            <div class="about-image col-md-6" data-animation="fadeIn">
                <img src="images/contents/about.jpg" alt="Description Image">
            </div>

            <!-- DESCRIPTION TEXT -->
            <div class="about-text col-md-6">
                <p class="lead">Центр Семейной Медицины «ДиЛуч» - на Черноморском побережье лучшее место отдыха с пользой для здоровья, выявления и предупреждения развития заболеваний, для лечения и реабилитации.</p>
                <p>В штате работают 65 врачей по 34 специальностям, в 19 лечебно-диагностических подразделениях.
                    В составе СКК «ДиЛуч» -  поликлинический корпус на 1000 посещений в день, лечебно-диагностический центр на 5200 посещений в день, 6 трехзвездочных гостиниц на 1000 мест, столовый комплекс диетического питания, водогрязелечебница, бювет с минеральной водой, спортивные и тренажерные залы, закрытый бассейн с подогреваемой морской водой, лечебно-косметологический СПА-центр «Мария».</p>
                <ul class="icon-list">
                    <li>
                        <span class="icon-list-icon fa fa-users" data-animation="bounceIn"></span>
                        <h4 class="icon-list-title">Для всей семьи</h4>
                        <p>ЦСМ «ДиЛуч» принимает на отдых и лечение семьи с детьми начиная с младенческого возраста</p>
                    </li>
                    <li>
                        <span class="icon-list-icon fa fa-building" data-animation="bounceIn"></span>
                        <h4 class="icon-list-title">Уникальная лечебная база</h4>
                        <p>Крупнейший на курорте лечебно-диагностический центр - это более 400 видов обследования и лечения на уровне лучших клиник России</p>
                    </li>
                    <li>
                        <span class="icon-list-icon fa fa-stethoscope" data-animation="bounceIn"></span>
                        <h4 class="icon-list-title">Check-up</h4>
                        <p>Полное обследование организма на отдыхе за короткий срок </p>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</section>
