<section id="benefits" class="benefits-section section-gray section">

    <div class="container">

        <h2 class="section-heading text-center">Ваши преимущества</h2>

        <div class="benefits-row row">

            <!-- BENEFIT 1 -->
            <div class="col-sm-6 col-md-4">
                <div class="benefit">
                    <span class="benefit-icon fa fa-bicycle" data-animation="bounceIn"></span>
                    <h4 class="benefit-title"> Индивидуальный подход</h4>
                    <p class="benefit-description">Квалифицированные врачи профессионально подберут индивидуальную программу лечения и отдыха</p>
                </div>
            </div>

            <!-- BENEFIT 2 -->
            <div class="col-sm-6 col-md-4">
                <div class="benefit">
                    <span class="benefit-icon fa fa-user" data-animation="bounceIn"></span>
                    <h4 class="benefit-title">Точная диагностика</h4>
                    <p class="benefit-description">Современное оборудование позволяет наиболее точно и на ранней стадии определить заболевание</p>
                </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- BENEFIT 3 -->
            <div class="col-sm-6 col-md-4">
                <div class="benefit">
                    <span class="benefit-icon fa fa-user-plus" data-animation="bounceIn"></span>
                    <h4 class="benefit-title">Семейный отдых</h4>
                    <p class="benefit-description">Оздоровление и лечение всей семьи в одном месте, начиная с младенческого возраста</p>
                </div>
            </div>

            <div class="hidden-sm clear"></div>

            <!-- BENEFIT 4 -->
            <div class="col-sm-6 col-md-4">
                <div class="benefit">
                    <span class="benefit-icon fa fa-bed" data-animation="bounceIn"></span>
                    <h4 class="benefit-title">Комфорт</h4>
                    <p class="benefit-description">Мы постоянно обновляем интерьеры гостиничных номеров для вашего наибольшего комфорта</p>
                </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- BENEFIT 5 -->
            <div class="col-sm-6 col-md-4">
                <div class="benefit">
                    <span class="benefit-icon fa fa-heartbeat" data-animation="bounceIn"></span>
                    <h4 class="benefit-title">Развлечения на любой вкус</h4>
                    <p class="benefit-description">Экскурсии, аквапарк, уютные кафе и рестораны, дайвинг, морские прогулки и множество других развлечений для вашего незабываемого отдыха</p>
                </div>
            </div>

            <!-- BENEFIT 6 -->
            <div class="col-sm-6 col-md-4">
                <div class="benefit">
                    <span class="benefit-icon fa fa-tree" data-animation="bounceIn"></span>
                    <h4 class="benefit-title">Наслаждение от природы</h4>
                    <p class="benefit-description">Уникальные песчаные пляжи, можжевеловые леса, уникальный микроклимат на стыке морских, степных и горных воздушных масс</p>
                </div>
            </div>

        </div>

    </div>

</section>
