<!-- CLOSING
================================= -->
<section id="closing" class="closing-section section-dark section">

    <div class="section-background">

        <!-- IMAGE BACKGROUND -->
        <div class="section-background-image parallax" data-stellar-ratio="0.4">
            <img src="images/backgrounds/closing-bg.jpg" alt="" style="opacity: 0.15;">
        </div>

    </div>

    <div class="container">

        <h3 class="closing-shout">Ready to start? Take the first step by clicking the button below</h3>

        <div class="closing-buttons" data-animation="tada"><a href="#hero" class="anchor-link btn btn-lg btn-primary">Footer Action Button</a></div>

    </div>

</section>