<section id="contact-maps" class="contact-maps-section section">

    <div class="section-background">

        <!-- MAPS BACKGROUND -->
        <div class="section-background-maps">
            <div id="gmap"></div>

            <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
            <!-- GOGGLE MAPS CONFIGURATION -->
            <!-- ref: http://maplacejs.com/ -->
            <script>
                var gmap_options = {
                    generate_controls : false,
                    locations : [{
                        lat : 44.894507,
                        lon : 37.304647,
                        animation : google.maps.Animation.DROP,
                        html : "Drew Headquarter",
                        icon : "images/contents/map-1.png",
                        clickable : false
                    }],
                    map_options : {
                        scrollwheel : false,
                        mapTypeControl : false,
                        streetViewControl : false,
                        zoomControlOptions : {
                            style : google.maps.ZoomControlStyle.SMALL
                        },
                        zoom : 18,
                        set_center : [ 44.894609, 37.307011 ] // adjust the "lon" attribute of your first location
                    },
                    styles : {
                        // source: https://snazzymaps.com/style/132/light-gray
                        'custom' : [{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#d3d3d3"}]},{"featureType":"transit","stylers":[{"color":"#808080"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#b3b3b3"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"weight":1.8}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"color":"#d7d7d7"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ebebeb"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#a7a7a7"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#efefef"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#696969"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#737373"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#d6d6d6"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#dadada"}]}],
                    }
                };
            </script>
        </div>
    </div>

    <div class="container">
        <div class="contact-maps-row row">
            <div class="col-md-7 col-md-offset-5">

                <div class="contact-maps-box" data-animation="fadeIn">

                    <h2 class="section-heading">Контакты</h2>
                    <p>Путь следования: из аэропортов "Анапа" и "Краснодар" или железно- дорожных вокзалов "Анапа" и "станции Тоннельная" рейсовым автобусом ехать до городского автовокзала, далее автобусами №№ 2 , 7, 9 , 24, 25 до остановки "Курортная поликлиника". </p>

                    <div class="row">
                        <address class="col-sm-12">
                            <strong>Адрес</strong>
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-home"></i>353440 Россия, Краснодарский край <br/>
                                    г. Анапа, ул. Пушкина, 22.</li>
                                <li><i class="fa-li fa fa-phone"></i>(86133) 5-09-65, 4-30-82, 4-31-28</li>
                                <li><i class="fa-li fa fa-mobile-phone"></i>8(988)623-71-69   </li>
                                <li><i class="fa-li fa fa-mail-forward"></i>info@diluch.ru   </li>
                            </ul>
                        </address>
                    </div>

                    <form name="contact" action="modules/send-email.php" method="post" class="form form-ajax-submit">
                        <p><strong>Or drop us a line here:</strong></p>
                        <div class="form-validation alert"></div>
                        <div class="form-group">
                            <input type="text" name="contact-name" class="form-control" placeholder="ФИО">
                        </div>
                        <div class="form-group">
                            <input type="text" name="contact-email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="contact-subject" class="form-control" placeholder="Телефон">
                        </div>
                        <div class="form-group">
                            <textarea name="contact-message" class="form-control" placeholder="Сообщение" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block">Отправить сообщение</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

</section>