<section id="faq" class="faq-section section">

    <div class="container">

        <h2 class="section-heading text-center">Часто задаваемые вопросы</h2>

        <div class="faq-row row">

            <div class="col-md-6">
                <div class="faq-item">
                    <span class="faq-item-icon fa fa-question-circle"></span>
                    <h4 class="faq-item-heading">Что есть в номерах?</h4>
                    <div class="faq-item-text">в номерах с/у, мини холодильник, кондиционер, телевизор.</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="faq-item">
                    <span class="faq-item-icon fa fa-question-circle"></span>
                    <h4 class="faq-item-heading">Какое питание предусмотрено?</h4>
                    <div class="faq-item-text">питание 3-разовое санаторное или "Шведский стол"</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="faq-item">
                    <span class="faq-item-icon fa fa-question-circle"></span>
                    <h4 class="faq-item-heading">Какое лечение?</h4>
                    <div class="faq-item-text">назначается врачом в соответствии с основным диагнозом в санаторно-курортной карте.</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="faq-item">
                    <span class="faq-item-icon fa fa-question-circle"></span>
                    <h4 class="faq-item-heading">Есть ли бассейн и какая там вода?</h4>
                    <div class="faq-item-text">Есть бассейн с морской водой.
                        <p>Работает в межсезонье.</p>     </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="faq-item">
                    <span class="faq-item-icon fa fa-question-circle"></span>
                    <h4 class="faq-item-heading">Как быть с ребенком во время проведения процедур?</h4>
                    <div class="faq-item-text">Пока родители проходят назначенные процедуры, дети играют с воспитателями.</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="faq-item">
                    <span class="faq-item-icon fa fa-question-circle"></span>
                    <h4 class="faq-item-heading">Насколько далеко от моря находится санаторий?</h4>
                    <div class="faq-item-text">Все 6 корпусов санатория находятся в 5 минутах ходьбы до пляжа</div>
                </div>
            </div>

        </div>

    </div>

</section>