<section id="footer" class="footer-section section">

    <div class="container">

        <h3 class="footer-logo">
            <img src="images/logos/logo.png" alt="Дилуч">
        </h3>

        <div class="footer-copyright">
            &copy; 2016. Все права защищены. Разработано в компании Next-Vision
        </div>

    </div>

</section>