<section id="headline" class="headline-section section-gray section">

    <div class="container">

        <h2 class="section-heading text-center hidden">Tagline</h2>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <p class="headline-text">
                    Лучшие методики, специалисты и оборудование мы собрали для вас в одном месте, чтобы вы могли наслаждаться каждым моментом, проведенным в нашей компании</p>
            </div>
        </div>

    </div>

</section>