<section id="hero" class="hero-section hero-layout-simple hero-fullscreen hero-slider section section-dark">

    <ul class="section-slider parallax">

        <!-- SECTION SLIDE 1 -->
        <li class="section-slide">

            <div class="section-background">

                <!-- IMAGE BACKGROUND -->
                <div class="section-background-image parallax" data-stellar-ratio="0.4">
                    <img src="images/backgrounds/hero-bg-slider-1.jpg" alt="" style="opacity: 0.8;">
                </div>

            </div>

            <div class="container">

                <div class="hero-content parallax">
                    <div class="hero-content-inner">

                        <div class="row">
                            <div class="col-md-6">

                                <div class="hero-heading" data-animation="fadeIn">

                                    <h1 class="hero-subtitle">Добро пожаловать в ДиЛуч</h1>

                                    <p class="hero-tagline">Повысьте качество своей жизни вместе с нами. Опыт санаторно-курортного лечения более 90 лет!</p>

                                </div>

                                <p class="hero-buttons">
                                    <a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">Заказать путевку</a>
                                </p>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </li>

        <!-- SECTION SLIDE 2 -->
        <li class="section-slide">

            <div class="section-background">

                <!-- VIDEO BACKGROUND -->
                <div class="section-background-video section-background-dot-overlay parallax" data-stellar-ratio="0.4">
                    <video preload="auto" autoplay loop muted poster="images/backgrounds/video-fallback-bg.jpg" style="opacity: 0.6;">
                        <source type="video/mp4" src="videos/video_bg_1.mp4">
                    </video>
                </div>

            </div>

            <div class="container">

                <div class="hero-content">
                    <div class="hero-content-inner">

                        <div class="row">
                            <div class="col-md-6 col-md-offset-6">

                                <div class="hero-heading" data-animation="fadeIn">

                                    <h1 class="hero-subtitle">Наслаждайтесь жизнью в настоящий момент…</h1>

                                    <p class="hero-tagline">В 2012 г. Город-курорт <strong>Анапа</strong> был признан ЮНЭСКО лучшим бальнеологическим курортом мира.</p>

                                </div>

                                <p class="hero-buttons">
                                    <a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">Заказать путевку</a>
                                </p>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </li>

        <!-- SECTION SLIDE 3 -->
        <li class="section-slide">

            <div class="section-background">

                <!-- VIDEO BACKGROUND -->
                <div class="section-background-video section-background-dot-overlay parallax" data-stellar-ratio="0.4">
                    <video preload="auto" autoplay loop muted poster="images/backgrounds/video-fallback-bg.jpg" style="opacity: 0.6;">
                        <source type="video/mp4" src="videos/video_bg_2.mp4">
                    </video>
                </div>

            </div>

            <div class="container">

                <div class="hero-content">
                    <div class="hero-content-inner">

                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">

                                <div class="hero-heading text-center" data-animation="fadeIn">

                                    <h1 class="hero-subtitle">Вы достойны лучшего…</h1>

                                    <p class="hero-tagline">Мы постоянно совершенствуем методики лечения, обновляем оборудование и условия проживания для вас</p>

                                </div>

                                <p class="hero-buttons text-center">
                                    <a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">Заказать путевку</a>
                                </p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </li>
    </ul>

</section>
