<section id="how-it-works" class="how-it-works-section section">

    <div class="container-fluid">

        <h2 class="section-heading text-center">Что делать?</h2>

        <div class="hiw-row row">

            <!-- HOW IT WORKS - ITEM 1 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="hiw-item">
                    <img class="hiw-item-picture" src="images/contents/hiw-item-1.png" alt="">
                    <div class="hiw-item-text">
                        <span class="hiw-item-icon">1</span>
                        <h4 class="hiw-item-title"> Выбираете лечебную программу</h4>
                        <p class="hiw-item-description">С учетом особенностей вашего организма и индивидуальных пожеланий выбираете наиболее подходящую для вас программу.</p>
                    </div>
                </div>
            </div>

            <!-- HOW IT WORKS - ITEM 2 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="hiw-item even">
                    <img class="hiw-item-picture" src="images/contents/hiw-item-2.png" alt="">
                    <div class="hiw-item-text">
                        <span class="hiw-item-icon">2</span>
                        <h4 class="hiw-item-title">Выбираете удобные номера и время отдыха </h4>
                        <p class="hiw-item-description">В осенне-зимний период действуют предложения по размещению и лечению на особых условиях.</p>
                    </div>
                </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- HOW IT WORKS - ITEM 3 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="hiw-item">
                    <img class="hiw-item-picture" src="images/contents/hiw-item-3.png" alt="">
                    <div class="hiw-item-text">
                        <span class="hiw-item-icon">3</span>
                        <h4 class="hiw-item-title">Бронируете даты отдыха</h4>
                        <p class="hiw-item-description">Заполняете форму обратной связи, наш сотрудник связывается с вами и бронирует для вас нужные даты, программу оздоровления и гостиничные номера.</p>
                    </div>
                </div>
            </div>

            <!-- HOW IT WORKS - ITEM 4 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="hiw-item even">
                    <img class="hiw-item-picture" src="images/contents/hiw-item-4.png" alt="">
                    <div class="hiw-item-text">
                        <span class="hiw-item-icon">4</span>
                        <h4 class="hiw-item-title">Наслаждаетесь отдыхом</h4>
                        <p class="hiw-item-description">Все остальное мы сделаем за вас.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
