<section id="numbers" class="numbers-section section-dark section">

    <div class="section-background">

        <!-- IMAGE BACKGROUND -->
        <div class="section-background-image parallax" data-stellar-ratio="0.4">
            <img src="images/backgrounds/numbers-bg.jpg" style="opacity: 0.6;">
        </div>

    </div>

    <div class="container">

        <h2 class="section-heading text-center">ДиЛуч в цифрах</h2>

        <div class="numbers-row row">
            <div class="col-sm-6 col-md-2">
                <div class="numbers-item">
                    <div class="numbers-item-counter"><span class="counter-up">65</span></div>
                    <div class="numbers-item-caption">врачей</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="numbers-item">
                    <div class="numbers-item-counter"><span class="counter-up">93</span></div>
                    <div class="numbers-item-caption">года работы</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="numbers-item">
                    <div class="numbers-item-counter"><span class="counter-up">400</span></div>
                    <div class="numbers-item-caption">видов обследований</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="numbers-item">
                    <div class="numbers-item-counter"><span class="counter-up">1000</span></div>
                    <div class="numbers-item-caption">номеров</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="numbers-item">
                    <div class="numbers-item-counter"><span class="counter-up">5200</span></div>
                    <div class="numbers-item-caption">пациентов в день</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="numbers-item">
                    <div class="numbers-item-counter"><span class="counter-up">468000</span></div>
                    <div class="numbers-item-caption">отдохнувших</div>
                </div>
            </div>
        </div>

    </div>

</section>
