<section id="portfolio" class="portfolio-section section">

    <div class="container-fluid">

        <h2 class="section-heading text-center">Номерной фонд</h2>

        <div class="portfolio-row row">

            <!-- PORTFOLIO - ITEM 1 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="images/contents/portfolio-item-1.png" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">Package Box</h4>
                        <p class="portfolio-item-description">Водо, грязе, бальнеолечение, самые разные методики оздоровления </p>
                    </div>
                </div>
            </div>

            <!-- PORTFOLIO - ITEM 2 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="images/contents/portfolio-item-2.png" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">Standard Square Box</h4>
                        <p class="portfolio-item-description">Проживание в любом из 7 корпусов </p>
                    </div>
                </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- PORTFOLIO - ITEM 3 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="images/contents/portfolio-item-3.png" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">Vol22 Biz Card</h4>
                        <p class="portfolio-item-description">Современное высокотехнологичное оборудование </p>
                    </div>
                </div>
            </div>

            <!-- PORTFOLIO - ITEM 4 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="images/contents/portfolio-item-4.png" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">Kyle Johnson Biz Card</h4>
                        <p class="portfolio-item-description">На ваш выбор стандартные номера и номера повышенной комфортности </p>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <!-- PORTFOLIO - ITEM 5 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="images/contents/portfolio-item-5.png" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">Open Book</h4>
                        <p class="portfolio-item-description">Бювет с природной лечебной минеральной водой для каждого гостя «ДиЛуч» </p>
                    </div>
                </div>
            </div>

            <!-- PORTFOLIO - ITEM 6 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="images/contents/portfolio-item-6.png" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">Michael Smith Biz Card</h4>
                        <p class="portfolio-item-description">Спа-салон «Мария» </p>
                    </div>
                </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- PORTFOLIO - ITEM 7 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="images/contents/portfolio-item-7.png" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">PiecePaper Logo</h4>
                        <p class="portfolio-item-description">5 минут неспешной прогулки до моря </p>
                    </div>
                </div>
            </div>

            <!-- PORTFOLIO - ITEM 8 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="images/contents/portfolio-item-8.png" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">Responsive Devices</h4>
                        <p class="portfolio-item-description">Дозированные физические нагрузки, реабилитация, лечебная физкультура, массажи по назначению врача</p>
                    </div>
                </div>
            </div>

        </div>


    </div>

</section>
