<section id="pricing" class="pricing-section section">

    <div class="container">

        <h2 class="section-heading text-center">Цены</h2>


        <!-- PRICING TABLE -->
        <div class="pricing-table row">

            <!-- PRICING PACKAGE 1 -->
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0" data-animation="fadeInUp">
                <div class="pricing-package">
                    <div class="pricing-package-header">
                        <h4 class="price-title">Экспресс-обследование</h4>
                        <div class="price">
                            <span class="price-currency"></span>
                            <span class="price-number">38</span>
                            <span class="price-decimal">тыс</span>
                        </div>
                        <div class="price-description">5 дней</div>
                    </div>
                    <ul class="pricing-package-items">
                        <li>Консультации</li>
                        <li>Функциональная диагностика</li>
                        <li>Ультразвуковая диагностика</li>
                        <li>Рентгенологическая диагностика</li>
                        <li>Клиническая лабораторная диагностика</li>
                        <li>Биохимия крови</li>
                        <li>Иммунология крови</li>
                        <li><a href="#" class="btn btn-md btn-primary" data-toggle="modal" data-target="#myModal">Заказать</a></li>
                    </ul>
                </div>
            </div>

            <!-- PRICING PACKAGE 2 -->
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0" data-animation="fadeInUp">
                <div class="pricing-package pricing-package-featured">
                    <div class="pricing-package-header">
                        <h4 class="price-title">Общеоздоровительная</h4>
                        <div class="price">
                            <span class="price-currency"></span>
                            <span class="price-number">60</span>
                            <span class="price-decimal">тыс</span>
                        </div>
                        <div class="price-description">14 дней</div>
                        <div class="price-featured">самая популярная</div>
                    </div>
                    <ul class="pricing-package-items">
                        <li>наблюдение врача-терапевта (педиатра)</li>
                        <li>Консультация специалиста по профилю заболевания</li>
                        <li>Обследование:
                            клиническое, биохимическое, функциональное, ультразвуковое, рентгенологическое</li>
                        <li>Бальнеолечение (лечебная ванна или душ)</li>
                        <li>Физиолечение</li>
                        <li>Массаж или кинезотерапия</li>
                        <li>Лечебная физкультура (ЛФК), тренажерный зал (по показаниям)</li>
                        <li><a href="#" class="btn btn-md btn-primary" data-toggle="modal" data-target="#myModal">Заказать</a></li>

                    </ul>
                </div>
            </div>

            <!-- PRICING PACKAGE 3 -->
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0" data-animation="fadeInUp">
                <div class="pricing-package">
                    <div class="pricing-package-header">
                        <h4 class="price-title">Свободное дыхание</h4>
                        <div class="price">
                            <span class="price-currency"></span>
                            <span class="price-number">47</span>
                            <span class="price-decimal">тыс</span>
                        </div>
                        <div class="price-description">14 дней</div>
                    </div>
                    <ul class="pricing-package-items">
                        <li>Общий клинический анализ крови и мочи</li>
                        <li>Уровень общего иммуноглобулина Е в сыворотке крови</li>
                        <li>ИФА Jg M лямблии Jg G, токсокары, аскариды</li>
                        <li>ИФА Jg M, Jg G  Mycoplasma pn, Chlamidia pn., trachom.</li>
                        <li>Аллергенспецифические иммуноглобулины Е (пищевые, бытовые, эпидермальные, грибковые, пыльцевые, бактериальные аллергены)</li>
                        <li>Кожные скарификационные пробы (КСП) (с 4-х лет, по показаниям)</li>
                        <li>Функция внешнего дыхания (спирография) (с 5-6 лет)</li>
                        <li>Консультация оториноларинголога</li>
                        <li>Консультация дерматолога</li>
                        <li>Консультация аллерголога-иммунолога</li>
                        <li><a href="#" class="btn btn-md btn-primary" data-toggle="modal" data-target="#myModal">Заказать</a></li>

                    </ul>
                </div>
            </div>

        </div>



    </div>

</section>