<section id="testimonial-slider" class="testimonial-slider-section section-dark section">

    <div class="section-background">

        <!-- IMAGE BACKGROUND -->
        <div class="section-background-image parallax" data-stellar-ratio="0.4">
            <img src="images/backgrounds/testimonial-slider-bg.jpg" style="opacity: 0.15;">
        </div>

    </div>

    <div class="container">

        <h2 class="section-heading text-center hidden">Trusted by Thousands</h2>

        <div class="testimonial-slider-row row">

            <div class="col-md-8 col-md-offset-2">

                <ul class="testimonial-slider rslides" data-speed="800" data-timeout="4000" data-auto="false">


                    <li class="testimonial-slide">
									<span class="testimonial-ratings">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</span>
                        <blockquote class="testimonial-quote">
                            <p>14.08.2015</p>
                            <p>Спасибо работникам санатория за приятное и полезное пребывание в санатории ДиЛуч. Не испытали никаких трудностей ни при заселении, ни при получении процедур, ни от пребывания в столовой санатория. Номер небольшой, но для семьи вполне удобный. В столовой нас обслуживали посменно Андрей и Алена. Очень симпатичные и корректные молодые люди. Всегда шли навстречу нашим пожеланиям. Курс лечения и обслуживающий персонал тоже был вполне корректен. Единственно что было не вполне комфортно, так это слишком жаркая погода. Днем от 30% до 34% градусов, а ночью не ниже 28%. Большое спасибо Анапе и санаторию ДиЛуч за незабываемое пребывание на этом курорте.</p>
                        </blockquote>
                        <cite class="testimonial-cite">Семья Гариных</cite>
                    </li>
                    <li class="testimonial-slide">
									<span class="testimonial-ratings">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</span>
                        <blockquote class="testimonial-quote">
                            <p>09.03.2016 </p>
                            <p>Большое тебе спасибо, Дилуч, за лечение!
                                Я сама медсестра, стаж 35 лет. Работала в детской поликлинике и в детском саду. Видела разное за свою жизнь. Если хотите получить лечение, то вам сюда. Здесь очень хороший коллектив медиков, отличный и дружный. Так держать!
                                Отдельное спасибо милым воспитателям, за то что взяли на себя заботу о внучке Дашеньке, пока я спокойно принимала процедуры. В детской комнате каждому ребенку уделяется внимание, даже когда много детей. Так что еще раз говорю спасибо Дилуч за лечение и курсовку.
                                А моему старшему внуку Илюше спасибо за то, что помог бабушке написать и отправить это письмо. </p>
                        </blockquote>
                        <cite class="testimonial-cite">Тамара Ильинична</cite>
                    </li>
                    <li class="testimonial-slide">
									<span class="testimonial-ratings">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</span>
                        <blockquote class="testimonial-quote">
                            <p>09.03.2016 </p>
                            <p>ДиЛуч - две недели рая!!!!!
                                Добрый день! Отдыхала с сыном в санатории ДиЛуч с 12.10.2015 по 25.10.2015 года. Ехали именно в этот санаторий целенаправленно так как мой ребенок нуждается в санаторном лечении. Жили в 6-ом корпусе. Комната просторная, великолепный вид из окна, питание просто отменное!!! Насколько я привереда ничего плохого не увидела. Отдельное спасибо мед. персоналу. Помогли моему сыночку, назначили курс лечения. Да и сама немного подлечилась. В этом году собираемся снова, Но уже на подольше! Спасибо всему персоналу санатория ДиЛуч!!!! Процветания и позитива!!!!!! </p>
                        </blockquote>
                        <cite class="testimonial-cite">Наталья и Данилка</cite>
                    </li>
                    <li class="testimonial-slide">
									<span class="testimonial-ratings">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</span>
                        <blockquote class="testimonial-quote">
                            <p>14.08.2015</p>
                            <p>Отличный санаторий! Отдыхали в сентябре, в 6 корпусе, пожалуй, самом лучшем из всех корпусов, наиболее близко от моря, в 5 минутах от административного и лечебного корпусов. Поскольку мы отдыхали с ребенком, в номер поставили детскую кроватку, убирали каждый день, постель меняли по просьбе, также как и полотенца. По размещению претензий нет, разве что просьба - помимо посуды и чайника оставить в номерах столовые приборы, приходилось просить нож у горничной. </p>
                        </blockquote>
                        <cite class="testimonial-cite">Николай</cite>
                    </li>
                </ul>

            </div>

        </div>

    </div>

</section>