<section id="team" class="team-section section">

    <div class="container-fluid">

        <h2 class="section-heading text-center">Наши врачи</h2>

        <div class="team-row row">

            <!-- TEAM MEMBER 1 -->
            <div class="col-sm-6 col-md-4 col-lg-2" data-animation="fadeIn">
                <div class="team-member">
                    <img class="team-member-picture" src="images/contents/team-member-1.jpg" alt="">
                    <div class="team-member-text">
                        <h4 class="team-member-name">Нещерет Андрей Валентинович</h4>
                        <div class="team-member-position">хирург-флеболог-онколог-проктолог</div>
                        <p class="team-member-description"> Врач высшей категории. Оперирующий доктор. Опыт работы 31 год.</p>
                    </div>
                </div>
            </div>

            <!-- TEAM MEMBER 2 -->
            <div class="col-sm-6 col-md-4 col-lg-2" data-animation="fadeIn">
                <div class="team-member even">
                    <img class="team-member-picture" src="images/contents/team-member-2.jpg" alt="">
                    <div class="team-member-text">
                        <h4 class="team-member-name">Дыбова Галина Васильевна</h4>
                        <div class="team-member-position">гинеколог</div>
                        <p class="team-member-description">Врач высшей категории. Специализируется на сложной беременности. Опыт работы 40 лет.</p>
                    </div>
                </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- TEAM MEMBER 3 -->
            <div class="col-sm-6 col-md-4 col-lg-2" data-animation="fadeIn">
                <div class="team-member">
                    <img class="team-member-picture" src="images/contents/team-member-3.jpg" alt="">
                    <div class="team-member-text">
                        <h4 class="team-member-name">Пономаренко Николай Николаевич</h4>
                        <div class="team-member-position">физиотерапевт-невролог</div>
                        <p class="team-member-description">Врач высшей категории. Военный врач. Опыт работы 34 года.</p>
                    </div>
                </div>
            </div>

            <div class="hidden-sm hidden-lg clear"></div>

            <!-- TEAM MEMBER 4 -->
            <div class="col-sm-6 col-md-4 col-lg-2" data-animation="fadeIn">
                <div class="team-member even">
                    <img class="team-member-picture" src="images/contents/team-member-4.jpg" alt="">
                    <div class="team-member-text">
                        <h4 class="team-member-name">Бочинина Юлия Владимировна</h4>
                        <div class="team-member-position">оперирующий оториноларинголог</div>
                        <p class="team-member-description">Врач первой категории. Окончила ординатуру по специализации оториноларингология. Опыт работы 9 лет.</p>
                    </div>
                </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- TEAM MEMBER 5 -->
            <div class="col-sm-6 col-md-4 col-lg-2" data-animation="fadeIn">
                <div class="team-member">
                    <img class="team-member-picture" src="images/contents/team-member-5.jpg" alt="">
                    <div class="team-member-text">
                        <h4 class="team-member-name">Христофорова Галина Николаевна</h4>
                        <div class="team-member-position">терапевт-эндокринолог</div>
                        <p class="team-member-description">Врач высшей категории. Имеет сертификат по детской эндокринологии. Опыт работы 41 год.</p>
                    </div>
                </div>
            </div>

            <!-- TEAM MEMBER 6 -->
            <div class="col-sm-6 col-md-4 col-lg-2" data-animation="fadeIn">
                <div class="team-member even">
                    <img class="team-member-picture" src="images/contents/team-member-6.jpg" alt="">
                    <div class="team-member-text">
                        <h4 class="team-member-name">Иванова Екатерина Андреевна</h4>
                        <div class="team-member-position">врач-профоктолог</div>
                        <p class="team-member-description">Врач высшей категории, кандидат медицинских наук. Опыт работы 12 лет</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>