<section id="two-cols-description" class="two-cols-description-section section-accent section">

    <div class="container-fluid two-cols-description-row">

        <!-- TWO COLS DESCRIPTION TEXT -->
        <div class="two-cols-description-text" data-animation="fadeInLeft">

            <div class="two-cols-description-text-inner">

                <h2 class="section-heading text-left">Лучший бальнео-курорт мира</h2>

                <p>Анапа – это редкое сочетание даров природы: соединение степных, горных, морских воздушных масс. Здесь находятся грязи, одинаковые по составу с Сакскими, Майнакскими, и еще грязи вулканического происхождения ("сальзы") - единственные в России, замечательные по своей силе. По побережью на 40 км тянется широкий песчаный пляж, на 350 метров ровно и постепенно углубляется морской берег в волны Черного моря. Нагретый лучами южного солнца, чистый и нежный песок одинаково пригоден как для песочных ванн, так и для купанья даже совсем маленьких детей. </p>

                <ul class="nice-list">
                    <li>Анапа – самый солнечный курорт России, где солнце светит не менее 286 дней в году.</li>
                    <li>Климат являет собой интересное сочетание трех микроклиматов: степного, горного и морского. </li>
                    <li>Оздоровление морскими купаниями – один из самых доступных и полезных видов оздоровления и лечения</li>
                </ul>

            </div>

        </div>

        <!-- TWO COLS DESCRIPTION IMAGE -->
        <div class="two-cols-description-image" data-animation="fadeInRight">
            <img src="images/backgrounds/two-cols-description-bg.jpg" alt="">
        </div>

    </div>

</section>