<section id="video" class="video-section section-gray section">

    <div class="container">

        <h2 class="section-heading text-center">Отдых с пользой для здоровья</h2>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="video-embed">

                     <iframe class="video-async" data-source="youtube" data-video="6wnKS6S0hPk" allowfullscreen></iframe>

                </div>

            </div>
        </div>

    </div>
</section>
