<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- BASIC INFO -->
<title>{{ site.title | escape }}</title>
<meta name="author" content="David Rozando">
<meta name="keywords" content="responsive, parallax, bootstrap, html5 template, one page, landing page">
<meta name="description" content="Drew - A Multipurpose Landing Page Template">

<!-- FAVICONS -->
<link rel="icon" href="images/favicons/favicon.ico">
<link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png">

<!-- CSS
================================= -->

<!-- GOOGLE FONTS -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

<!-- LIBRARIES CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/animate.min.css">

<!-- SPECIFIC CSS -->
<link rel="stylesheet" href="css/style.css">

 <link id="color-css" rel="stylesheet" href="css/colors/blue.css">