<header id="header" class="header-section section section-dark navbar navbar-fixed-top">

    <div class="container-fluid">

        <div class="navbar-header navbar-left">

            <!-- RESPONSIVE MENU BUTTON -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- HEADER LOGO -->
            <a class="navbar-logo navbar-brand anchor-link" href="#hero">
                <img src="images/logos/logo.png" alt="Diluch">
            </a>

        </div>

        <nav id="navigation" class="navigation navbar-collapse collapse navbar-right">

            <!-- NAVIGATION LINKS -->
            <ul id="header-nav" class="nav navbar-nav">

                <li><a href="#hero" class="hidden">Top</a></li>
                <li><a href="#about">Дилуч</a></li>
                <li><a href="#benefits">Преимущества</a></li>
                <li><a href="#how-it-works">Что делать?</a></li>
                <li><a href="#team">Врачи</a></li>
                <li><a href="#pricing">Цены</a></li>
                <li><a href="#portfolio">Номера</a></li>
                <li><a href="#contact-maps">Контакты</a></li>

            </ul>

        </nav>

    </div>

</header>
