<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Заказать путевку в Дилуч</h3>
            </div>
            <div class="modal-body">
                <form name="contact" action="modules/send-email.php" method="post" class="form form-ajax-submit">
                    <div class="form-validation alert"></div>
                    <div class="form-group">
                        <input type="text" name="contact-name" class="form-control" placeholder="ФИО">
                    </div>
                    <div class="form-group">
                        <input type="text" name="contact-email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" name="contact-subject" class="form-control" placeholder="Телефон">
                    </div>
                    <div class="form-group">
                        <textarea name="contact-message" class="form-control" placeholder="Сообщение" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>