<!-- LIBRARIES JS
================================= -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/respimage.min.js"></script>
<script src="js/jpreloader.min.js"></script>
<script src="js/smoothscroll.min.js"></script>
<script src="js/jquery.nav.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/maplace-0.1.3.min.js"></script>
<script src="js/responsiveslides.min.js"></script>

<!-- MAIN SCRIPT
================================= -->
<script src="js/script.js"></script>