<!DOCTYPE html>
<!--[if lt IE 7 ]>    <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>       <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>       <html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ru"> <!--<![endif]-->

<head>

  {% include head.html %}

</head>

<body class="enable-animations enable-preloader">

<div id="document" class="document">

  {% include header.html %}

  {% include sections/hero.html %}
  {% include sections/headline.html %}
  {% include sections/about.html %}
  {% include sections/benefits.html %}
  {% include sections/how-it-works.html %}
  {% include sections/numbers.html %}
  {% include sections/video.html %}
  {% include sections/team.html %}
  {% include sections/two-cols-description.html %}
  {% include sections/pricing.html %}
  {% include sections/portfolio.html %}
  {% include sections/reviews.html %}
  {% include sections/faq.html %}
  {% include sections/contact-maps.html %}
  {% include sections/footer.html %}

</div>

{% include scripts.html %}
{% include modal.html %}


</body>

</html>



